.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;

    .header {
        padding: 30px 0 8rem;
        @include flexBox ();

        ul {
            @include flexBox ();
            gap: 2rem;
            li{
                a{
                    color: black;
                }
            }
        }

    };

    .hero-banner {
        @include flexBox();
        
        .hero-banner-left{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            img{
                width: 100px;
                height: 100px;
            }

        }
        

        .hero-banner-right {
            img {
                width: 550px;
                height: 550px;
                border-radius: 50%;

            }

        }
    }
}